* {
	margin:0;
	padding:0;
	
}
header{
	 background: #000000;
}
#mapid{
	height:180px;
}

html {
    position: relative;
   height:100%;
}
 
.footer {
    position:fixed;
    bottom: 0;
    height:8%;
    width:100%;
    background: #000000;
}

.cssform {
    width: 400px;
    border: 3px solid #000000;
    border-radius: 20px  ;
    position: relative;
    top: 100px;
    
}

.buttoncss{
    border: none;
    margin-left: 30px;
    width: 75px;
    height: 30px;
    background-color: #000000;
    color: aliceblue;

}

.thumbnail{
    margin-top:-1px;
    display:block;
    color:white;
    border:grey 2px solid;
    padding:13px;
    background-color:black;
}

.thumbnail:hover{
    background-color:gray;
    opacity:0.5;
}

ul{
    display: flex;
    list-style-type: none;
}

.liheader{
    border: 1px solid white;
    margin-right: 20px;
    margin-top: 30px;
    padding: 7px;

}

.link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-top: 5px;
}